/* layer: preflights */
*,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}
/* layer: default */
.mx-40,
[mx-40=""]{margin-left:10rem;margin-right:10rem;}
.my-10,
[my-10=""]{margin-top:2.5rem;margin-bottom:2.5rem;}
[mx-auto=""]{margin-left:auto;margin-right:auto;}
.mb-20,
[mb-20=""]{margin-bottom:5rem;}
.ml-2,
[ml-2=""]{margin-left:0.5rem;}
[mb-10=""]{margin-bottom:2.5rem;}
.block{display:block;}
[inline-block=""]{display:inline-block;}
.h-7,
[h-7=""]{height:1.75rem;}
.h12,
[h12=""]{height:3rem;}
.w12,
[w12=""]{width:3rem;}
.flex,
[flex=""]{display:flex;}
.inline-flex,
[inline-flex=""]{display:inline-flex;}
@keyframes bounce{0%, 100% {transform:translateY(-25%);animation-timing-function:cubic-bezier(0.8,0,1,1)} 50% {transform:translateY(0);animation-timing-function:cubic-bezier(0,0,0.2,1)}}
.animate-bounce{animation:bounce 1s linear infinite;}
.animate-duration-1s,
[animate-duration-1s=""]{animation-duration:1s;}
.animate-count-infinite,
[animate-count-infinite=""]{animation-iteration-count:infinite;}
[items-end=""]{align-items:flex-end;}
.items-center,
[items-center=""]{align-items:center;}
.gap-2,
[gap-2=""]{gap:0.5rem;}
.flex-justify-between,
[flex-justify-between=""]{justify-content:space-between;}
.rounded-xl,
[rounded-xl=""]{border-radius:0.75rem;}
[rd-2=""]{border-radius:0.5rem;}
[bg~="black"]{--un-bg-opacity:1;background-color:rgb(0 0 0 / var(--un-bg-opacity));}
.hover\:bg-zinc-100:hover{--un-bg-opacity:1;background-color:rgb(244 244 245 / var(--un-bg-opacity));}
[hover\:bg-zinc-100=""]:hover{--un-bg-opacity:1;background-color:rgb(244 244 245 / var(--un-bg-opacity));}
.p-2,
[p-2=""]{padding:0.5rem;}
.p-5,
[p-5=""]{padding:1.25rem;}
.text-5xl,
[text-5xl=""]{font-size:3rem;line-height:1;}
.text-blue,
[text-blue=""]{--un-text-opacity:1;color:rgb(96 165 250 / var(--un-text-opacity));}
.text-zinc-400,
[text-zinc-400=""]{--un-text-opacity:1;color:rgb(161 161 170 / var(--un-text-opacity));}
.text-zinc-900{--un-text-opacity:1;color:rgb(24 24 27 / var(--un-text-opacity));}
.hover\:text-zinc-900:hover{--un-text-opacity:1;color:rgb(24 24 27 / var(--un-text-opacity));}
[hover\:text-zinc-900=""]:hover{--un-text-opacity:1;color:rgb(24 24 27 / var(--un-text-opacity));}
.c-rose600,
[c-rose600=""]{--un-text-opacity:1;color:rgb(225 29 72 / var(--un-text-opacity));}
.fw100,
[fw100=""]{font-weight:100;}
@media (min-width: 640px){
[sm\:mt-10=""]{margin-top:2.5rem;}
.sm\:flex-col,
[sm\:flex-col=""]{flex-direction:column;}
.sm\:gap-2,
[sm\:gap-2=""]{gap:0.5rem;}
}st-style-type:lower-alpha;}.prose :where(ol[type="A" s]):not(:where(.not-prose,.not-prose *)){list-style-type:upper-alpha;}.prose :where(ol[type="a" s]):not(:where(.not-prose,.not-prose *)){list-style-type:lower-alpha;}.prose :where(ol[type="I"]):not(:where(.not-prose,.not-prose *)){list-style-type:upper-roman;}.prose :where(ol[type="i"]):not(:where(.not-prose,.not-prose *)){list-style-type:lower-roman;}.prose :where(ol[type="I" s]):not(:where(.not-prose,.not-prose *)){list-style-type:upper-roman;}.prose :where(ol[type="i" s]):not(:where(.not-prose,.not-prose *)){list-style-type:lower-roman;}.prose :where(ol[type="1"]):not(:where(.not-prose,.not-prose *)){list-style-type:decimal;}.prose :where(ul):not(:where(.not-prose,.not-prose *)){list-style-type:disc;}.prose :where(ol > li):not(:where(.not-prose,.not-prose *))::marker,.prose :where(ul > li):not(:where(.not-prose,.not-prose *))::marker,.prose :where(summary):not(:where(.not-prose,.not-prose *))::marker{color:var(--un-prose-lists);}.prose :where(hr):not(:where(.not-prose,.not-prose *)){margin:2em 0;border:1px solid var(--un-prose-hr);}.prose :where(table):not(:where(.not-prose,.not-prose *)){display:block;margin:1em 0;border-collapse:collapse;overflow-x:auto;}.prose :where(tr):not(:where(.not-prose,.not-prose *)):nth-child(2n){background:var(--un-prose-bg-soft);}.prose :where(td,th):not(:where(.not-prose,.not-prose *)){border:1px solid var(--un-prose-borders);padding:.625em 1em;}.prose :where(abbr):not(:where(.not-prose,.not-prose *)){cursor:help;}.prose :where(kbd):not(:where(.not-prose,.not-prose *)){color:var(--un-prose-code);border:1px solid;padding:.25rem .5rem;font-size:.875em;border-radius:.25rem;}.prose :where(details):not(:where(.not-prose,.not-prose *)){margin:1em 0;padding:1.25rem 1.5rem;background:var(--un-prose-bg-soft);}.prose :where(summary):not(:where(.not-prose,.not-prose *)){cursor:pointer;font-weight:600;}
/* layer: default */
.mx-40,
[mx-40=""]{margin-left:10rem;margin-right:10rem;}
.my-10,
[my-10=""]{margin-top:2.5rem;margin-bottom:2.5rem;}
[mx-auto=""]{margin-left:auto;margin-right:auto;}
.mb-20,
[mb-20=""]{margin-bottom:5rem;}
.ml-2,
[ml-2=""]{margin-left:0.5rem;}
[mb-10=""]{margin-bottom:2.5rem;}
.block{display:block;}
[inline-block=""]{display:inline-block;}
.h-7,
[h-7=""]{height:1.75rem;}
.h12,
[h12=""]{height:3rem;}
.w12,
[w12=""]{width:3rem;}
.flex,
[flex=""]{display:flex;}
.inline-flex,
[inline-flex=""]{display:inline-flex;}
@keyframes bounce{0%, 100% {transform:translateY(-25%);animation-timing-function:cubic-bezier(0.8,0,1,1)} 50% {transform:translateY(0);animation-timing-function:cubic-bezier(0,0,0.2,1)}}
.animate-bounce{animation:bounce 1s linear infinite;}
.animate-duration-1s,
[animate-duration-1s=""]{animation-duration:1s;}
.animate-count-infinite,
[animate-count-infinite=""]{animation-iteration-count:infinite;}
[items-end=""]{align-items:flex-end;}
.items-center,
[items-center=""]{align-items:center;}
.gap-2,
[gap-2=""]{gap:0.5rem;}
.flex-justify-between,
[flex-justify-between=""]{justify-content:space-between;}
.rounded-xl,
[rounded-xl=""]{border-radius:0.75rem;}
[rd-2=""]{border-radius:0.5rem;}
[bg~="black"]{--un-bg-opacity:1;background-color:rgb(0 0 0 / var(--un-bg-opacity));}
.hover\:bg-zinc-100:hover{--un-bg-opacity:1;background-color:rgb(244 244 245 / var(--un-bg-opacity));}
[hover\:bg-zinc-100=""]:hover{--un-bg-opacity:1;background-color:rgb(244 244 245 / var(--un-bg-opacity));}
.p-2,
[p-2=""]{padding:0.5rem;}
.p-5,
[p-5=""]{padding:1.25rem;}
.text-5xl,
[text-5xl=""]{font-size:3rem;line-height:1;}
.text-blue,
[text-blue=""]{--un-text-opacity:1;color:rgb(96 165 250 / var(--un-text-opacity));}
.text-zinc-400,
[text-zinc-400=""]{--un-text-opacity:1;color:rgb(161 161 170 / var(--un-text-opacity));}
.text-zinc-900{--un-text-opacity:1;color:rgb(24 24 27 / var(--un-text-opacity));}
.hover\:text-zinc-900:hover{--un-text-opacity:1;color:rgb(24 24 27 / var(--un-text-opacity));}
[hover\:text-zinc-900=""]:hover{--un-text-opacity:1;color:rgb(24 24 27 / var(--un-text-opacity));}
.c-rose600,
[c-rose600=""]{--un-text-opacity:1;color:rgb(225 29 72 / var(--un-text-opacity));}
.fw100,
[fw100=""]{font-weight:100;}
@media (min-width: 640px){
[sm\:mt-10=""]{margin-top:2.5rem;}
.sm\:flex-col,
[sm\:flex-col=""]{flex-direction:column;}
.sm\:gap-2,
[sm\:gap-2=""]{gap:0.5rem;}
}