/* layer: preflights */
*,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}
/* layer: default */
.m-auto,
[m-auto=""]{margin:auto;}
.mb-4,
[mb-4=""]{margin-bottom:1rem;}
.ml-2,
[ml-2=""]{margin-left:0.5rem;}
.mt-4{margin-top:1rem;}
[mb-10=""]{margin-bottom:2.5rem;}
.block{display:block;}
[inline-block=""]{display:inline-block;}
.h-7,
[h-7=""]{height:1.75rem;}
.h12,
[h12=""]{height:3rem;}
.w12,
[w12=""]{width:3rem;}
[max-w-screen-md=""]{max-width:768px;}
.flex,
[flex=""]{display:flex;}
.inline-flex,
[inline-flex=""]{display:inline-flex;}
[items-end=""]{align-items:flex-end;}
.items-center,
[items-center=""]{align-items:center;}
.gap-1,
[gap-1=""]{gap:0.25rem;}
.flex-justify-between,
[flex-justify-between=""]{justify-content:space-between;}
.rounded-xl,
[rounded-xl=""]{border-radius:0.75rem;}
[rd-2=""]{border-radius:0.5rem;}
.hover\:bg-zinc-100:hover{--un-bg-opacity:1;background-color:rgb(244 244 245 / var(--un-bg-opacity));}
[hover\:bg-zinc-100=""]:hover{--un-bg-opacity:1;background-color:rgb(244 244 245 / var(--un-bg-opacity));}
.p-2,
[p-2=""]{padding:0.5rem;}
.p-5,
[p-5=""]{padding:1.25rem;}
.px-2,
[px-2=""]{padding-left:0.5rem;padding-right:0.5rem;}
.text-zinc-400,
[text-zinc-400=""]{--un-text-opacity:1;color:rgb(161 161 170 / var(--un-text-opacity));}
.text-zinc-900{--un-text-opacity:1;color:rgb(24 24 27 / var(--un-text-opacity));}
.hover\:text-zinc-900:hover{--un-text-opacity:1;color:rgb(24 24 27 / var(--un-text-opacity));}
[hover\:text-zinc-900=""]:hover{--un-text-opacity:1;color:rgb(24 24 27 / var(--un-text-opacity));}
@media (min-width: 640px){
.sm\:mt-20,
[sm\:mt-20=""]{margin-top:5rem;}
[sm\:ml-10=""]{margin-left:2.5rem;}
[sm\:mt--8px=""]{margin-top:-8px;}
[sm\:mt-10=""]{margin-top:2.5rem;}
[sm\:w-20=""]{width:5rem;}
.sm\:flex,
[sm\:flex=""]{display:flex;}
.sm\:grow,
[sm\:grow=""]{flex-grow:1;}
.sm\:flex-col,
[sm\:flex-col=""]{flex-direction:column;}
.sm\:gap-2,
[sm\:gap-2=""]{gap:0.5rem;}
[sm\:gap-20=""]{gap:5rem;}
.sm\:flex-items-end,
[sm\:flex-items-end=""]{align-items:flex-end;}
}