{{/*  {{ define "main" }}
  {{ .Content }}
  {{ range .Pages }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
  {{ end }}
{{ end }}  */}}

{{ define "main" }}
  {{ .Content }}
  {{ $currentYear := "" }}
  {{ $firstHR := true }}
  {{ range .Pages }}
    {{ $postYear := .Date.Format "2006" }}
    {{ if ne $postYear $currentYear }}
      {{ $currentYear = $postYear }}
      {{ if $currentYear }}
        {{ if $firstHR }}
          <hr class="hr-solid-content" data-content="{{ $currentYear }}">
          {{ $firstHR = false }}
        {{ else }}
          <hr class="hr-solid-content mt-4" data-content="{{ $currentYear }}">
        {{ end }}
      {{ end }}
    {{ end }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
  {{ end }}
{{ end }}
