{{/*  {{ define "main" }}
  {{ .Content }}
  {{ range .Pages }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
  {{ end }}
{{ end }}  */}}

{{ define "main" }}
  {{ .Content }}
  {{ $currentYear := "" }}
  {{ range .Pages }}
    {{ $postYear := .Date.Format "2006" }}
    {{ if ne $postYear $currentYear }}
      {{ $currentYear = $postYear }}
      {{ if $currentYear }}
      <div>
        <span font-medium text-sm lowercase text-zinc-500 bg-white pr-2>{{ $currentYear }}</span>
      </div>
      {{ end }}
    {{ end }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
  {{ end }}
{{ end }}
