{{ define "main" }}
  {{ .Content }}
  {{ $currentYear := "" }}
  {{ $firstYear := true }}
  {{ range .Pages }}
    {{ $postYear := .Date.Format "2006" }}
    {{ if ne $postYear $currentYear }}
      {{ $currentYear = $postYear }}
      {{ if not $firstYear }}
        </ul>
      {{ end }}
      <hr class="hr-solid-content" data-content="{{ $currentYear }}">
      <ul>
      {{ $firstYear = false }}
    {{ end }}
    <li hover:text-indigo-400><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
  {{ end }}
  {{ if not $firstYear }}
      </ul>
  {{ end }}
{{ end }}


